/.vscode
/customers.csv
/geolocation.csv
/leads_closed.csv
/leads_qualified.csv
/orders.csv
/order_items.csv
/order_payments.csv
/order_reviews.csv
/products.csv
/product_category_name_translation.csv
/sellers.csv